@import "tailwindcss";

.font-tually {
  font-family: 'TuallyRegular', sans-serif;
}

@font-face {
  font-family: 'TuallyRegular';
  src: url('/fonts/TuallyRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #111827;
    color: white;
  }
